* {
  padding: 0 0;
  margin: 0 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html {
  font-size: 62.5%;
}
a {
  color: white;
}
img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.navbar {
  color: white;
  height: 54px;
  background-color: rgb(0 0 0 / 0%);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  top: 0;
  left: 0;
  font-size: 3.5rem;
}
.fa-accusoft {
  padding-left: 10px;
}
.fa-sign-in-alt {
  padding-right: 10px;
}
.navbar li {
  color: white;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list li {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar i:hover {
  cursor: pointer;
}
.cox {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.list div {
  position: absolute;
  width: 100vw;
  height: 80vh;
  top: 54px;
  left: 0;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
  font-size: 2.5rem;
  color: white;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  position: absolute;
  width: 100vw;
  height: 80vh;
  top: 54px;
  left: 0;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
  font-size: 2.5rem;
  color: white;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visible {
  visibility: visible !important;
}
.li-click {
  background-color: white !important;
  color: black !important;
}
.main {
  visibility: visible !important;
  font-size: 5rem !important;
}
.hidden {
  visibility: hidden !important;
}
li:hover,
i:hover {
  cursor: pointer;
}
@media (max-width: 740px) {
  .list {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    top: 54px;
    visibility: hidden;
    flex-direction: column;
  }
  .list li {
    height: 25%;
    width: 100%;
  }
  .list-click {
    visibility: visible;
  }
}
