* {
  padding: 0 0;
  margin: 0 0;
  color: black;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  height: 6rem;
  background-color: rgb(61, 54, 54);
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  font-size: 5rem;
  text-align: center;
}
.containt {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containt div {
  height: 100%;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
a:hover {
  padding: 20px 20px;
  background-color: black;
  color: white;
}
@media (max-width: 900px) {
  .containt {
    text-align: center;
    flex-direction: column;
  }
}
