* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  color: white;
  text-decoration: none;
  text-align: center;
}
.fa-bars {
  padding-left: 10px;
}
i {
  cursor: pointer;
}
.navbar {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-size: 200%;
  background-color: black;
}
#menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: black;
  visibility: hidden;
}
.fab.fa-accusoft {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  font-size: 2rem;
  cursor: unset;
}
#menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 10%;
}
#menu li:hover {
  font-size: 1.2em;
}
.fa-chevron-circle-left {
  font-size: 200%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person {
  display: flex;
  align-items: center;
  justify-content: center;
}
.person img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.infor li {
  padding: 0px 10px;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}
.infor span {
  position: absolute;
  font-size: 0.5rem;
  background-color: red;
  padding: 2px 2px;
  left: 30px;
  top: -5px;
}
.mess,
.person_infor,
.notify {
  width: 200px;
  height: 300px;
  background-color: black;
  position: fixed;
  right: 0;
  top: 52px;
  visibility: hidden;
}
@media (max-width: 740px) {
  #menu {
    width: 100vw;
  }
  .mess,
  .person_infor,
  .notify {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.visible {
  visibility: visible !important;
}
